
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registros</title>
</head>
<body>
    <div> 
        <h5>QUE PEDO</h5>
    </div>
</body>
</html>
