
@{
    ViewBag.Title = "VideoCursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content">
   
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-content">
                        <iframe width="670" height="480" src="https://www.youtube.com/embed/WlO5KihsYu4?t=171" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>


                    <div class="m-t-sm">

                        <div class="row">
                            <div class="col-md-8">
                                <div>
                                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    
                                </div>
                            </div>
                        
                        </div>

                    </div>

                 

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                
                @*<img src="https://lh3.googleusercontent.com/proxy/Lc-53wgOpRqt9aitw4I7agowIEg5ERk6ldfXeneaJyZLh0iUqYOrCXPfl4ygXYHE-MK-pjqsMBek7nw_qaBN_ardXVjzy_60_7JuzY6qDYOqqViyW0pzEVCrpvPXxWFyFHvYFeVY1_yR7qwKeJtkTQ" alt="FUNADEH" class="img-responsive">*@
                <h4>Nombre del video</h4>
                <p class="small">
                    Descripción
                </p>
              
                <ul class="tag-list" style="padding: 0">
                    
                </ul>
                <br>
                <h5>Recursos necesarios</h5>
                <ul class="list-unstyled project-files">
                    <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
                    <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_.jpg</a></li>
                    <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Allan.mln</a></li>
                    <li><a href=""><i class="fa fa-file"></i> Contact_20_11_2020.docx</a></li>
                </ul>
                <div class="text-center m-t-md">
                    <a href="@Url.Action("MenuCursos","layouts")" class="btn btn-xs btn-primary">Volver</a>

                </div>
                    </div>
                </div>
            </div>
        </div>






